<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>FIND ME</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="favicon.ico">


    <link rel="stylesheet" href='{{ asset('build/vendors/bootstrap/dist/css/bootstrap.min.css')}}'>
    <link rel="stylesheet" href='{{ asset('build/vendors/font-awesome/css/font-awesome.min.css')}}'>
    <link rel="stylesheet" href="{{ asset('build/vendors/themify-icons/css/themify-icons.css')}}">
    <link rel="stylesheet" href="{{ asset('build/vendors/flag-icon-css/css/flag-icon.min.css')}}">
    <link rel="stylesheet" href="{{ asset('build/vendors/selectFX/css/cs-skin-elastic.css')}}">

    <link rel="stylesheet" href="{{ asset('build/assets/css/style.css')}}">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
<style>
    .not-active {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    color: black;
    }
</style>
</head>

<body class="bg-dark">


<div class="sufee-login d-flex align-content-center flex-wrap">
    <div class="container">
        <div class="login-content">
            <div class="login-logo">
                <a href="index.html">
                    <img class="align-content" src="{{ asset('build/images/favicon.png')}}" alt="" style="height: 150px;width: 250px;">
                </a>
            </div>
            <div class="login-form">

                <form action="{{ path('login') }}" method="post">
                    {%  if error %}
                        <div class="alert alert-danger">{{ error.messageKey |trans(error.messagedata,'security') }}</div>
                    {% endif %}
                    <div class="form-group">
                        <label>Username</label>
                        <input  class="form-control" placeholder="Username"  id="_username" name="_username" type="text" value="{{ last_username }}" autofocus>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" placeholder="Password" data-constraints="@Password @Required"  id="password" name="_password" >
                    </div>
                    <div class="checkbox " >
                        <label>
                            <input type="checkbox" onclick="onClickBtnLike()" id="chik"  > Remember Me
                        </label>
                        <label class="pull-right">

                            <a href="{{ path('help') }}" class="not-active"  id="link">Forgotten Password?</a>
                        </label>

                    </div>
                    <button type="submit" class="btn btn-success btn-flat m-b-30 m-t-30">Sign in</button>


                </form>
            </div>
        </div>
    </div>
</div>


<script src='{{ asset('build/vendors/jquery/dist/jquery.min.js')}}'></script>
<script src='{{ asset('build/vendors/popper.js/dist/umd/popper.min.js')}}'></script>
<script src="{{ asset('build/vendors/bootstrap/dist/js/bootstrap.min.js')}}"></script>
<script src="{{ asset('build/assets/js/main.js')}}"></script>


</body>

</html>
{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        function onClickBtnLike(){

            icone = document.getElementById("chik");
            link=document.getElementById("link")
            console.log(icone);


                if(icone.getAttribute('checked')==='checked') {
                    icone.removeAttribute('checked')
                    link.classList.add("not-active");}
                else {
                   icone.setAttribute('checked','checked');
                    link.classList.remove("not-active");
                    }

                console.log(response);

        }

    </script>
{% endblock %}
